@charset "utf-8";
/* -------------------------------------------------- 
	Copyright: (c)visual and echo japan
	Created: 2013.08.20
 -------------------------------------------------- */
 
body {
	font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    min-width:960px;
    min-height:642px;
	font-size:12px;
	line-height:180%;
	margin: 0;
	padding: 0;
	color:#333333;
	position: relative;
	background-color:#333333;
}



/*----------------------------------------------------
	#movieWrapper
----------------------------------------------------*/
.movieWrapper {
	height:400px;
	width:100%;
	background:url(../images/index/movie_bg.png) top left;
	position:relative;
	z-index:100;
}

.movieWrapper #Stage {
	width:960px;
	margin:0 auto;
}


/*----------------------------------------------------
	#contentsArea
----------------------------------------------------*/
#contentsArea {
	background-image:url(../images/index/top_bg.png);
	width:960px;
	height:642px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -321px;
    min-width:960px;
    min-height:642px;
	overflow:hidden;
}

/*----------------------------------------------------
	#時代を先駆ける…
----------------------------------------------------*/
#contentsArea #signboard {
	position: absolute;
	top: 6px;
	right: 200px;
}

/*----------------------------------------------------
	#センターネオン
----------------------------------------------------*/
#contentsArea #neon_off {
	position: absolute;
	top: 257px;
	left: 455px;
}
#contentsArea #neon_on {
	position: absolute;
	top: 257px;
	left: 455px;
}
#contentsArea #neon_area{
	width:128px;
	height:164px;
	position: absolute;
	top: 255px;
	left: 455px;
}

/*----------------------------------------------------
	#宇宙船
----------------------------------------------------*/
#contentsArea #spaceship {
	position: absolute;
	top: 28px;
	left: 567px;
}
#contentsArea #spaceship_building {
	position: absolute;
	top: 84px;
	left: 628px;
}
#spaceship_cloud {
	position: absolute;
	top: 31px;
	left: 567px;
}
#contentsArea #spaceship_area{
	width:114px;
	height:114px;
	position: absolute;
	top: 20px;
	left: 547px;
}

/*----------------------------------------------------
	#屋形船
----------------------------------------------------*/
#contentsArea #boat {
	position: absolute;
	top: 418px;
	left: 195px;
}
#contentsArea #boat_area{
	width:217px;
	height:125px;
	position: absolute;
	top: 418px;
	left: 195px;
}

/*----------------------------------------------------
	#列車
----------------------------------------------------*/
#contentsArea #trainroad_off {
	position: absolute;
	top: 2px;
	left: 2px;
}
#contentsArea #trainroad {
	position: absolute;
	top: 2px;
	left: 2px;
}
#contentsArea #train_steam_01 {
	position: absolute;
	top: 50px;
	left: 320px;
}
#contentsArea #train_steam_02 {
	position: absolute;
	top: 2px;
	left: 400px;
}
#contentsArea #train {
	position: absolute;
	top: 50px;
	left: 158px;
}
#contentsArea #train_area{
	width:150px;
	height:120px;
	position: absolute;
	top: 195px;
	left: 280px;
}

/*----------------------------------------------------
	#蒸気
----------------------------------------------------*/
#contentsArea #steam_01 {
	position: absolute;
	top: 217px;
	left: 2px;
}
#contentsArea #steam_02 {
	position: absolute;
	top: 83px;
	left: 40px;
}
#contentsArea #steam_03 {
	position: absolute;
	top: 2px;
	left: 0;
}

/*----------------------------------------------------
	#Skip ボタン
----------------------------------------------------*/
.skipbutton { display:block;position:absolute;top:190px;right:30px; }