@charset "UTF-8";

body{
	color: #333;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}

a,
a:hover{
	background: transparent;
	text-decoration: none;
}

a:hover.opacity img,
a:hover.opacity,
a:hover img{
	opacity: 0.8;
}

.fade image,
.fade{
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}


/********** layout **********/



#top-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%); /* Safari用 */
	transform: translate(-50%, -50%);
}

#top-wrapper .logo{
	width: 80%;
	margin: 0 auto;
}

#top-wrapper .logo .copy{
	width: 80%;
	margin: 4px auto 0;
}


header{
	height: 55px;
	border-bottom: 1px solid #000;
}


.mean-container .mean-nav ul li.type-b.li-close a {
	position: absolute;
	top: 0px;
	padding-top: 14px;
	color: #fff;
	border-top: 1px solid #fff;
	background: #00B6DD;
	text-indent: -9999px !important;
}

.mean-container .mean-nav ul li.type-b.li-close a::after{
	content: "× CLOSE";
	text-indent: 0px !important;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 13px;
	font-weight: bold;
}


#twitter-box{
	position: fixed;
	bottom: 44px;
	left: 0;
	right: 0;
}

#twitter-box iframe{
	width: 100% !important;
	height: 330px !important;
	margin: 0 auto;
}

#twitter-open{
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 44px;
	border-top: 1px solid #000;
	display: none;
}

#twitter-open a{
	display: block;
	width: auto;
	height: 44px;
	margin: 0 auto;
	text-indent: -9999px;
	background: url(../images/toggle_open.png) no-repeat center 10px;
	background-size: 70%; 
}

#twitter-open.close a{
	background: url(../images/toggle_close.png) no-repeat center 10px;
	background-size: 70%; 
}

